@model DSD_CMS.Model.Models.ApplicationImages

<div class="card box-shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Id != 0 ? "Update" : "Create") App Image</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <input asp-for="UploadAsset" hidden />
            <input asp-for="UploadThumbImage" hidden />


            <div class="row">
                <div class="col-12">
                    <div class="border p-3" style="color: black">
                        <div class="row pb-2">
                            <h3 class="text-primary">@(Model.Id != 0 ? "Update" : "Create") App Image</h3>
                            <hr />
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="AppImageTypes" class="form-select border-0 shadow">
                                <option value="">--Select App Image Type--</option>
                                <option value="Service Product">Service Product</option>
                                <option value="Sync">Sync</option>
                                <option value="Reception">Reception</option>
                                <option value="Footer">Footer</option>
                                <option value="Extras">Extras</option>
                                <option value="Device ValidationBG">Device ValidationBG</option>
                                <option value="Vehicle Status">Vehicle Status</option>
                                <option value="My Appointments">My Appointments</option>
                                <option value="Dashboard">Dashboard</option>
                                <option value="Vehicle Handover">Vehicle Handover</option>
                                <option value="IFB">IFB</option>
                                <option value="Login BG">Login BG</option>
                            </select>
                            <label asp-for="AppImageTypes" class="ms-2"></label>
                            <span asp-validation-for="AppImageTypes" class="text-danger"></span>
                        </div>


                        <div class="form-floating py-2 col-12">
                            <input asp-for="AssetTitle" class="form-control border-0 shadow" />
                            <label asp-for="AssetTitle" class="ms-2">Model Code</label>
                            <span asp-validation-for="AssetTitle" class="text-danger"></span>
                        </div>

                        @{
                            var imageFields = new[]
                            {
                        new { Name = "uploadAssetIm", Label = "Upload Asset", Property = "UploadAsset", AllowedExtensions = @"\.(png|jpe?g|mp4|mov|m4v)$" },
                        new { Name = "uploadThumbIm", Label = "Upload Thumb Image", Property = "UploadThumbImage", AllowedExtensions = @"\.(png|jpe?g|jpeg)$" }
                                        };
                        }

                        @foreach (var imageField in imageFields)
                        {
                            @*<div class="form-floating py-2 col-12">
                                <input type="file" id="@imageField.Name" name="@imageField.Name" onchange="validateFile(this, '@imageField.Name-preview', '@imageField.AllowedExtensions')" class="form-control border-0 shadow" />
                                <label for="@imageField.Name" class="ms-2">@imageField.Label</label>
                                <span asp-validation-for="@imageField.Property" class="text-danger"></span>
                            </div>
                            <div id="@imageField.Name-preview" class="mt-2">
                                <img id="@imageField.Name-preview-img" class="img-fluid" src="" style="max-height: 150px;" />
                            </div>*@

                            <div class="form-floating py-2 col-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="@imageField.Name">@imageField.Label:</label> <!-- Add a label for the file input -->
                                        <div class="input-group">
                                            <input type="file" id="@imageField.Name" name="@imageField.Name" onchange="showSelectedImage(this, '@imageField.Name-preview-img')" class="form-control border-0 shadow" />
                                        </div>
                                        <p class="text-muted">Max size: 1MB. Supported formats: jpg, jpeg, png</p>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        @if (Model.Id != 0 && !string.IsNullOrEmpty(Model.GetType().GetProperty(imageField.Property)?.GetValue(Model) as string))
                                        {
                                            <img id="@imageField.Name-preview-img" class="img-fluid" src="@Url.Content(Model.GetType().GetProperty(imageField.Property)?.GetValue(Model) as string)" style="max-height: 200px; max-width: 80%; width: -webkit-fill-available;" />
                                        }
                                        else
                                        {
                                            <img id="@imageField.Name-preview-img" class="img-fluid" src="#" style="max-height: 200px; max-width: 80%; width: -webkit-fill-available;" />
                                        }
                                    </div>
                                </div>
                            </div>

                        }

                        <div class="row pt-2">

                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">@((Model.Id != 0) ? "Update" : "Create")</button>
                            </div>

                            <div class="col-6 col-md-3">
                                <a asp-controller="CarModel" asp-action="Index" class="btn btn-outline-secondary form-control">
                                    Back to List
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        function showSelectedImage(input, previewId) {
            const file = input.files[0];
            const maxFileSize = 1 * 1024 * 1024; // 1MB
            const allowedExtensions = /\.(png|jpe?g)$/i; // Regular expression for allowed file extensions

            if (!allowedExtensions.test(file.name)) {
                alert("Invalid file type. Please insert a .png or .jpg file.");
                input.value = ""; // Reset the file input
                return;
            }

            if (file.size > maxFileSize) {
                alert("File size exceeds the maximum limit of 1MB.");
                input.value = ""; // Reset the file input
                return;
            }

            const preview = document.getElementById(previewId);
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    </script>
}
